<!DOCTYPE html>

<head>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.js"> </script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/views/style.css">
  <script src="/views/script.js"> </script>
</head>
<body>
<div class="main-content-wrapper">
  <div class="ui menu main-head">
    <a class=" main">
      serenity
    </a>
  </div>
  <div class="main-content">

<div class="main-inside">

    <img src="/views/serenityLogo.png" width="600px "/>
    <p class="land-p"> <span style="color:white">A</span> comprehensible<span style="color:white">,</span> <br/>
    interactive<span style="color:white">,</span> <br/> <span style="color:white">DegreeWorks</span> alternative </p>

    <button class="ui button black">CONTINUE </button>


  </div>







  </div>

</div>



</body>


</html>
