html, body{
  width:100%;
  height:100% !important;
  min-height: 100% !important;
  background-color: #fbc919;
  font-family: 'Ubuntu', sans-serif !important;
}

.main-content-wrapper{
  width:100%;
  height:100%;
  background-color: #fbc919;
  font-family: 'Ubuntu', sans-serif;
}

.main-content{
  height:100%;
}

.main-content h1, h2{
  font-family: 'Ubuntu', sans-serif;
}

.ui.menu.main-head{
  padding: 10px;
  border:none;
  height:auto;
}

.ui.menu.main-head .main{
  font-size: 25px;
  margin: 10px;
  color:  #ffd800;
  font-family: 'Ubuntu';
  font-weight: bolder;

}

.main-content .content-login{
  margin: 30px auto;
  padding-top: 2.5em;
}

.content-login h1{
  font-size: 50px;
  color: white;
  padding-bottom: 8px;
}

.content-login h2{
  font-size: 35px;
  color: white;
  word-wrap: break-word;
  width:50%;
  margin: 0 auto;
  padding-top:10px;
  font-weight: bolder;
}

.header-start{
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px dotted white;

}
.login-wrapper{
  margin: 0 auto;
  width:50%;
}

.login-seg{
  background-color: #fef9e1;
  width:100%;
  padding: 15px;
  border-radius: 8px;
  font-family: 'Ubuntu', sans-serif;
}

.floating-input{
  padding: 10px;
  display: block;
  width: 90%;
  margin: 30px auto;
}

.floating-input label{
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: 15px;
  margin-top: -10px;
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);;
  cursor: text;
  margin-left: 0;
  display: block;
  font-weight: 700;
}

.floating-input input{
  border: none;
  border-bottom: 3px solid #aeab9d;
  outline: none;
  width: 100%;
  font-size: 18px;
  background-color: transparent;
}

.circle-btn{
  bottom:-150;
  background-color: #fef9e1;
  border-radius:60px;
  width:85px;
  height: 85px;
  text-align: center;
  font-size:30px;
  font-weight: bolder;
  margin: 0 auto;
  position: absolute;
  left: 47%;
  border: 7px solid  #fed700;

  padding: 10px;
}

/* .btn-content{
  position: relative;
  width:100%;
  text-align:center;
} */

.main-inside{
  padding-top: 5em;;
  text-align: center;
}


.land-p{
  font-weight: bolder;
  font-size: 30px;
  color: black;
  padding-bottom:10px;
}


button.ui.button.black {
  width:162px;
  border-radius:1px;
  letter-spacing:5px;
  font-weight:1;
  font-size:12px;
  padding:11px;

}

.load-p{
margin-top: 30px;
font-size:30px;
}

.log-seg{
  display:none;
}
.loader{
  display:none;
  text-align:center;
}
.img-wrapper.animated.bounce.infinite{
  margin: 30px;
  padding-top: 40px;
}

/* Dashboard css content*/
.dash.content {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 1280px;
}

.dash.head {
  width: 100%;
  height: 30%;
  z-index: 1;
  position: relative;
}

.dash.head.content {
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
 
.black.headblock {
  background-color: #373737;
  width: 100%;
  height: 50px;
  margin-top: -5px;
}

.black.headblock.p {
  color: #f0f0f0;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

.yellow.headblock {
  background-color: #f0f0f0; opacity: 0.6;
  width: 90%;
  height: 30px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}

.dash.main.content {
  background-color: #f0f0f0;
  width: 100%;
  min-height: 960px;
  height: 100%;
  z-index: 0;
  position: relative;
}

.dash.content.left.menu {
  width: 25%; 
  color: #373737;
  float: left;
}

.dash.ui.very.relaxed.list {
  margin: 0 auto;
  width: 50%;
  padding-top: 5em;
}

.dash.content.right.content {
  width: 75%;
  float: left;
  padding-top: 4em;
  overflow-y: scroll;
}

.dash.student.view {
  width: 100%;
  float: left;
  display: block;
}

.dash.student.ui.card {
  text-align: center;
  padding-bottom: 1.3em;
  padding-top: 1.3em;
  width: 25%;
  float: left;
}

.dash.student.information {
  width: 60%;
  float: left;
  display:block;
}

.dash.stu.table {
  padding-left: 2em;
}

.dash.current.classes {
  display:block;
  float:left;
  width: 100%;
  padding-top: 2em;
}

.dash.three.and.boxes {
  width: 100%;
}

.dash.three.butts {
  width: 20%;
  float:left;
  display:block;
}

.button.ui.button.yellow, .button.ui.button.red, .button.ui.button.teal {
  width: 150px;
  margin-top: 2em;
}

.dash.boxes {
  width: 65%;
  float:left;
  display:block;
}
/*
.dash.foot {
  width: 100%;
  height: 10%;
} */
