<!DOCTYPE html>

<head>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.js"> </script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script src="/static/js/script.js"> </script>
</head>
<body>

<!-- ALL CONTENT PORTION -->
<div class="main-content-wrapper">
  <!-- HEADER PORTION -->
  <div class="ui menu main-head">
    <a class="main">
      SERENITY
    </a>
  </div>
  <!-- END HEADER PORTION -->
  <!-- YELLOW PORTION -->
  <div class="main-content">
    <div class="main-inside">
      <img src="/static/img/serenityLogo.png" width="600px "/>
      <p class="land-p"> <span style="color:white">A</span> comprehensible<span style="color:white">,</span> <br/>
      interactive<span style="color:white">,</span> <br/> <span style="color:white">DegreeWorks</span> alternative </p>

      <a href="/login">  <button class="ui button black">CONTINUE </button></a>
    </div>
  </div>
  <!-- END YELLOW PORTION -->
</div>
<!-- END ALL CONTENT PORTION -->

</body>

</html>
