<!DOCTYPE html>

<head>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.js"> </script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script src="/static/js/script.js"> </script>
</head>
<body>
<div class="main-content-wrapper">
  <div class="ui menu main-head">
    <a class=" main">
      serenity
    </a>
  </div>
  <div class="main-content">
    <div class="content-login">
        <div class="header-start">
            <h1> Let's get started </h1>
        </div>
  <h2>First, please provide your Marist login information.</h2>
  </div>

  <div class="login-wrapper">
    <div class="login-seg">
      <form class="">
  <div class="floating-input">
    <label>USERNAME</label>
    <input class="name-val" type="text" name="name" >
  </div>
  <div class="floating-input">
    <label>PASSWORD</label>
    <input class="pass-val" type="password" name="pass">
  </div>

  <div class="circle-btn">
    <p btn-content> > </p>
  </div>

</form>
    </div>
  </div>


  </div>

</div>



</body>


</html>
